<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
    <bean class="in.beans.Address" id="addr_id">
   		<constructor-arg  value="2222"/>
   		<constructor-arg  value="Piune"/>
   		<constructor-arg  value="987654"/>
   </bean>
   <bean class="in.beans.Student" id="std_id">
   		<constructor-arg value="111"/>
   		<constructor-arg value="Saif"/>
   		<constructor-arg ref="addr_id"/>
   </bean>
</beans>